.body-header {
  margin-bottom: 8px;
  height: 40px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #5B5B5B;
}

.body__nav {
  color: #C0C0C0;
}

.body__link {
  color: #C0C0C0;
  font-size: 12px;
}

.close-btn{
  margin-right: 8px;
}